---
import Icon from "~/components/icon.astro";
import TailwindIndicator from "~/components/tailwind-indicator.astro";
import "~/global.css";
import { getRelativeLocaleUrl } from "astro:i18n";

interface Props {
  title?: string;
  locale?: string;
}

const { title, locale = "en" } = Astro.props;

const currentPath = Astro.url.pathname;
const headTitle = title ? `${title} | Fred KISSIE` : "Fred KISSIE";
const description =
  "Software Engineer, amateur chef, amateur cyclist and twitch streamer";

let resumePath = getRelativeLocaleUrl(locale, "resume.pdf");

if (resumePath.endsWith("/")) {
  resumePath = resumePath.substring(0, resumePath.length - 1);
}
---

<html lang={locale}>
  <head>
    <meta charset="utf-8" />
    <link rel="icon" href="/favicon.png" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>{headTitle}</title>
    <meta name="description" content={description} />

    <meta property="og:title" content={headTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:url" content="https://fredkiss.dev/" />
    <meta property="og:site_name" content="Fred KISSIE" />
    <meta property="og:locale" content={locale} />
    <meta property="og:type" content="website" />
    <meta
      property="og:image"
      content="https://fredkiss.dev/opengraph-image.png"
    />

    <meta property="twitter:domain" content="fredkiss.dev" />
    <meta property="twitter:url" content="https://fredkiss.dev" />
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content={headTitle} />
    <meta name="twitter:description" content={description} />
    <meta
      name="twitter:image"
      content="https://fredkiss.dev/opengraph-image.png"
    />
    <script
      is:inline
      defer
      data-domain="fredkiss.dev"
      src="https://analytics.fredkiss.dev/js/script.js"></script>
  </head>
  <body class="bg-amber-50 dark:bg-zinc-800 dark:text-white text-zinc-950 px-5">
    <a
      class:list={[
        "sr-only focus:not-sr-only bg-white dark:bg-zinc-950",
        "focus:px-6 focus:py-4 outline-none focus:inline-flex",
        "focus:fixed focus:top-0 focus:left-0 focus:z-50",
        "focus:ring-accent/80 focus:ring-2",
      ]}
      href="#main-content">
      Skip to main content
    </a>
    <header class="max-w-3xl mx-auto my-8">
      <nav>
        <ul class="flex items-center gap-4">
          <li>
            <a
              href="/"
              aria-current={currentPath === "/" ? "page" : "false"}
              class:list={[
                currentPath === "/" &&
                  "underline decoration-wavy decoration-[0.1em]",
              ]}>
              Home
            </a>
          </li>
          <li>
            <a href={resumePath} class="inline-flex gap-1 items-center">
              <span>See resume</span>
              <Icon type="arrow-external" class="size-4" />
            </a>
          </li>
        </ul>
      </nav>
    </header>
    <main
      id="main-content"
      class="max-w-3xl mx-auto flex flex-col gap-14 items-stretch">
      <slot />
    </main>
    <footer
      class:list={[
        "max-w-3xl mx-auto mb-20 border-t border-zinc-500 mt-14 py-2",
        "text-zinc-700 flex flex-col gap-4 justify-between",
        "dark:text-inherit md:flex-row",
      ]}>
      <small>Copyright &copy; 2025 - Fred KISSIE</small>
      <div class="flex flex-col gap-1">
        <small>
          Built with Astro & deployed on&nbsp;
          <a href="https://zaneops.dev" class="inline-flex gap-1 items-center"
            >ZaneOps <Icon type="arrow-external" class="size-3" /></a
          >
        </small>
      </div>
    </footer>
    {process.env.NODE_ENV === "development" && <TailwindIndicator />}
  </body>
</html>
